body {
  background: #E9E9E9;
  min-width: 340px;
}

.main {
  margin-top: 30px;
}
.main .sidebar {
  color: #3299BB;
  background: white;
  padding: 10px;
}
.main .application {
  background: whitesmoke;
  padding: 10px;
  overflow: hidden;
}
.main .application .results {
  font-family: 'Raleway', sans-serif;
  padding: 20px;
}
.main .application .results .resultHeader {
  font-weight: 500;
  font-size: 18px;
}

.socialMediaWrapper .authenticateLink {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  background: #337ab7;
  color: white;
  padding: 8px;
  text-align: center;
  display: block;
}
.socialMediaWrapper .authenticateLink:hover {
  color: wheat;
}

.top-side {
  background: #E9E9E9;
  padding-top: 30px;
  padding-bottom: 0;
  position: relative;
}
.top-side .usermenu {
  margin: 0;
  padding: 0;
}
.top-side .usermenu li:not(:first-of-type)::before {
  content: "| ";
}
.top-side .usermenu li a {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}
.top-side .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 36px;
  margin: 0 img;
  margin-width: 180px;
  margin-height: 80px;
  margin-display: inline-block;
  margin-margin-right: 30px;
}
.top-side .callAction {
  margin: 15px;
  height: 80px;
  float: right;
}
.top-side .callAction li {
  line-height: 78px;
  margin-left: 25px;
}
.top-side ul li {
  display: inline-block;
  margin-left: 4px;
}
.top-side .menu {
  float: right;
  margin-right: 15px;
  margin-bottom: 0;
}
.top-side .menu li {
  margin-left: 10px;
  float: left;
}
.top-side .menu li a {
  padding: 6px;
  font-size: 18px;
  border-radius: 4px 4px 0 0;
  float: left;
}
.top-side .user-box {
  float: right;
  height: 80px;
  width: 300px;
  padding: 10px;
  background: #BCBCBC;
  border: 2px solid white;
  border-radius: 4px;
}
.top-side .user-box img {
  height: 60px;
  border-radius: 75px;
  width: 60px;
  float: left;
}
.top-side .user-box .name {
  float: right;
  margin-bottom: 0;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.top-side .usermenu {
  float: right;
}

form .form-control {
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  font-family: "Raleway",sans-serif;
  font-weight: 300;
  padding: 0 0 0 20px;
}
form input.invalid {
  border: 1px solid rgba(202, 27, 27, 0.7);
  box-shadow: 1px 1px 1px rgba(202, 27, 27, 0.7);
}
form input[type="submit"] {
  font-family: "Raleway",sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: whitesmoke;
  padding: 0 10px;
  background: #3299BB;
  border-radius: 4px;
  border: none;
}

.searchBar form .form-group {
  margin-bottom: 7px;
}
.searchBar .panel-body {
  padding: 5px;
}

a:hover {
  text-decoration: none;
}

.menu li a {
  font-family: "Raleway",sans-serif;
  font-weight: 500;
  color: whitesmoke;
  background: #3299BB;
}

.sidebar a {
  font-size: 15px;
}
.sidebar ul {
  padding: 0;
  width: 80%;
  margin: 0 auto;
}
.sidebar ul li {
  list-style: none;
  margin-bottom: 5px;
}
.sidebar ul li .glyphicon {
  margin-right: 3px;
}

.search-form {
  padding: 10px 20px;
}
.search-form label {
  font-weight: 500;
}

.nav .nav-tabs {
  padding: 0 20px;
}

.resultWrapper {
  display: block;
  position: relative;
  min-height: 120px;
  padding: 8px;
  border: 2px solid #3299BB;
  margin-bottom: 15px;
  border-radius: 4px;
}
.resultWrapper p {
  margin-bottom: 4px;
  font-weight: 500;
}
.resultWrapper .addToList {
  background: #008000 none repeat scroll 0% 0%;
  border: medium none;
  border-radius: 75px;
  font-size: 12px;
  padding: 0px;
  width: 20px;
  text-align: center;
  height: 20px;
  color: #FFF;
  line-height: 20px;
  position: absolute;
  top: 10px;
  right: -11px;
}
.resultWrapper .removeResult {
  background: red none repeat scroll 0% 0%;
  border: medium none;
  border-radius: 75px;
  font-size: 12px;
  padding: 0px;
  width: 20px;
  height: 20px;
  color: #FFF;
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: 35px;
  right: -11px;
}
.resultWrapper .resultImg {
  float: left;
  height: 100px;
  width: 100px;
  margin-right: 8px;
}

.green {
  color: green;
}

.yellow {
  color: #bc7e0b;
}

.strong {
  font-weight: 600;
}

p.error {
  margin: 0;
  padding: 0;
  background: red;
  margin-bottom: -20px;
  color: white;
  font-weight: 500;
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  padding-left: 5px;
  font-family: 'Raleway', sans-serif;
}

.specification-side {
  background: white;
  padding-top: 0;
  padding-bottom: 10px;
  font-family: 'Raleway', sans-serif;
}
.specification-side h2 {
  font-weight: 300;
  font-size: 28px;
  margin: 15px;
  padding-bottom: 10px;
  display: block;
  border-bottom: 2px solid #3299BB;
}
.specification-side p {
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
}
.specification-side form {
  padding-right: 15px;
  padding-top: 0;
}
.specification-side .errorColumn {
  position: absolute;
  top: 0;
  z-index: 1;
}
.specification-side .errorWrapper {
  border: 1px solid rgba(202, 27, 27, 0.7);
  border-bottom: none;
  border-left: none;
  padding: 0 10px 1px;
  display: block;
  margin-left: 15px;
  background: white;
  color: #ca1b1b;
  display: none;
}
.specification-side .errorWrapper .glyphicon {
  top: 3.5px;
}
.specification-side .errorWrapper h4 {
  padding-bottom: 10px;
  text-align: right;
  border-bottom: 2px solid #3299BB;
}
.specification-side .errorWrapper p {
  margin-bottom: 0;
  color: #ca1b1b;
}

.footer-side {
  background: #E9E9E9;
  padding: 30px;
}
.footer-side p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 28px;
  text-align: center;
  margin: 15px;
  padding-bottom: 10px;
  display: block;
}

@media screen and (min-width: 992px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.profile-form {
  padding: 0 30px;
  font-family: "Raleway",sans-serif;
}
.profile-form .form-group {
  margin-bottom: 20px;
}
.profile-form h2 {
  font-weight: 300;
  font-size: 30px;
}
.profile-form label {
  font-weight: 500;
}

.from-group {
  margin-bottom: 20px;
}

label {
  margin-bottom: 0px;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  bottom: 0;
}

.radio label {
  margin-right: 15px;
}

.display-inline-block {
  display: inline-block;
}

.radiofix {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 18px;
}

.app-report {
  padding: 0 20px;
  font-family: 'Raleway', sans-serif;
}
.app-report ul:first-of-type li {
  list-style: none;
}

/*# sourceMappingURL=stylesheet.css.map */
