.panel.panel-default
    .panel-heading
        h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#searchBook") Search Books
    .panel-collapse.collapse#searchBook
        .panel-body
            {!! Form::open(array('url' => 'book', 'id' => 'bookSearchForm', 'class' => 'search-form', 'role' => 'form')) !!}
            .row
                .col-md-12
                    {!! Form::Label('bookTitle','Title') !!}
                    .form-group
                        {!! Form::text('name', null, ['class' => 'input form-control', 'placeholder' => 'title..']) !!}
                .col-md-12
                    {!! Form::Label('author','Author') !!}
                    .form-group
                        {!! Form::text('authorUri', null, ['class' => 'input form-control', 'placeholder' => 'name..']) !!}

                .col-md-12
                    {!! Form::Label('illustrator','Illustrator') !!}
                    .form-group 
                        {!! Form::text('illustratorUri', null, ['class' => 'input form-control', 'placeholder' => 'name..']) !!}
                .col-md-12 
                    {!! Form::Label('literaryGenre','Literary Genre') !!}
                    .form-group 
                        {!! Form::text('literaryGenreUri', null, ['class' => 'input form-control', 'placeholder' => 'genre..']) !!}
                .col-md-12
                    {!! Form::Label('Number of Pages') !!}
                .col-md-6.col-sm-6.col-xs-6
                    .form-group
                        {!! Form::text('numberOfPagesMin', null, ['class' => 'input form-control', 'placeholder' => 'minimum..']) !!}
                .col-md-6.col-sm-6.col-xs-6
                    .form-group
                        {!! Form::text('numberOfPagesMax', null, ['class' => 'input form-control', 'placeholder' => 'maximum..']) !!}
                .col-md-12
                    {!! Form::label('numberOfVolumes','Number of Volumes') !!}
                    .form-group
                        {!! Form::text('numberOfVolumes', null, ['class' => 'input form-control', 'placeholder' => 'number of volumes..']) !!}	
                .col-md-12.text-right
                    {!! Form::submit('Search',  ['class' => 'btn']) !!}
            {!! Form::close() !!}