.panel.panel-default
    .panel-heading
        h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#searchEvent") Search Events
    .panel-collapse.collapse#searchEvent
        .panel-body
            {!! Form::open(array('url' => 'event', 'class' => 'search-form', 'role' => 'form')) !!}
            .row
                .col-md-12
                    {!! Form::Label('eventName','Event name') !!}
                    .form-group 
                        {!! Form::text('name', null, ['class' => 'input form-control', 'placeholder' => ' Event name..']) !!}                    
                .col-md-12
                        {!! Form::Label('eventType','Event Type') !!}
                        .form-group 
                            {!! Form::text('eventTypeUri', null, ['class' => 'input form-control', 'placeholder' => ' Event types..']) !!}
                .col-md-12
                    {!! Form::Label('locationUri','Event Location') !!}
                    .form-group 
                        {!! Form::text('locationUri', null, ['class' => 'input form-control', 'placeholder' => ' Event location..']) !!}
                .col-md-12                     
                    {!! Form::Label('startDate','Start date') !!}                 
                .col-md-6.col-sm-6.col-xs-6
                    .form-group
                        {!! Form::text('startDateMin', null, ['class' => 'input form-control', 'placeholder' => 'Min start date...']) !!}          
                .col-md-6.col-sm-6.col-xs-6             
                    .form-group
                        {!! Form::text('startDateMax', null, ['class' => 'input form-control', 'placeholder' => 'Max start date...']) !!}
                .col-md-12
                    {!! Form::Label('endDate','End date') !!}                            
                .col-md-6.col-sm-6.col-xs-6                         
                    .form-group
                        {!! Form::text('endDateMin', null, ['class' => 'input form-control', 'placeholder' => 'Min end date...']) !!}
                .col-md-6.col-sm-6.col-xs-6 
                    .form-group 
                        {!! Form::text('endDateMax', null, ['class' => 'input form-control', 'placeholder' => 'Max end date...']) !!}
                .col-md-12
                    {!! Form::Label('ranking_id','Ranking:') !!}
                .col-md-12    
                    .form-group
                        {!! Form::select('ranking_id', array('','2'=>'1','3'=>'2','4'=>'3','5'=>'4','6'=>'5'),'5', ['class' => 'form-control']) !!}
                .col-md-12.text-right
                    {!! Form::submit('Search',  ['class' => 'btn']) !!}
            {!! Form::close() !!}