.panel.panel-default
    .panel-heading
        h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#searchEvent") Search Events
    .panel-collapse.collapse#searchEvent
        .panel-body#eventPanel
            a.initializeForm#eventInitialize(href="javascript:void(0)") Initialize form
            .initializeWrapper.hidden
                img.loader(src="images/loading.gif",alt="loading..")
            {!! Form::open(array('url' => 'event', 'id' => 'eventSearchForm', 'class' => 'search-form hidden', 'role' => 'form')) !!}
            .row
                .col-md-12
                    {!! Form::Label('eventName','Name') !!}
                    .form-group 
                        {!! Form::text('name', null, ['class' => 'input form-control', 'placeholder' => 'name..']) !!}                    
                .col-md-12
                        {!! Form::Label('eventType','Type') !!}
                        .form-group 
                            {!! Form::text('eventTypeUri', null, ['class' => 'input form-control', 'placeholder' => 'type..']) !!}
                .col-md-12
                    {!! Form::Label('locationUri','Location') !!}
                    .form-group 
                        {!! Form::text('locationUri', null, ['class' => 'input form-control', 'placeholder' => 'location..']) !!}
                .col-md-12                     
                    {!! Form::Label('startDate','Start date') !!}                 
                .col-md-6.col-sm-6.col-xs-6
                    .form-group
                        {!! Form::text('startDateMin', null, ['class' => 'input form-control', 'id' => 'eventStartDateMin', 'placeholder' => 'minimum..']) !!}          
                .col-md-6.col-sm-6.col-xs-6             
                    .form-group
                        {!! Form::text('startDateMax', null, ['class' => 'input form-control', 'id' => 'eventStartDateMax', 'placeholder' => 'maximum..']) !!}
                .col-md-12
                    {!! Form::Label('endDate','End date') !!}                            
                .col-md-6.col-sm-6.col-xs-6                         
                    .form-group
                        {!! Form::text('endDateMin', null, ['class' => 'input form-control', 'id' => 'eventEndDateMin', 'placeholder' => 'minimum..']) !!}
                .col-md-6.col-sm-6.col-xs-6 
                    .form-group 
                        {!! Form::text('endDateMax', null, ['class' => 'input form-control', 'id' => 'eventEndDateMax', 'placeholder' => 'maximum..']) !!}
                .col-md-12.text-right
                    {!! Form::submit('Search',  ['class' => 'btn']) !!}
            {!! Form::close() !!}