.panel.panel-default
    .panel-heading
        h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#searchFilm") Search Films
    .panel-collapse.collapse#searchFilm
        .panel-body#filmPanel
            a.initializeForm#filmInitialize(href="javascript:void(0)") Initialize form
            .initializeWrapper.hidden
                img.loader(src="images/loading.gif",alt="loading..")
            {!! Form::open(array('url' => 'film', 'id' => 'filmSearchForm', 'class' => 'search-form hidden', 'role' => 'form')) !!}
            .row
                .col-md-12
                    {!! Form::Label('filmName','Movie name') !!}
                    .form-group
                        {!! Form::text('name', null, ['class' => 'input form-control', 'placeholder' => ' Movie name..']) !!}
                .col-md-12
                    {!! Form::Label('directorName','Director name') !!}
                    .form-group
                        {!! Form::text('directorUri', null, ['class' => 'input form-control', 'placeholder' => ' Director name..']) !!}
                .col-md-12
                    {!! Form::Label('actorUri','Actor name') !!}
                    .form-group
                        {!! Form::text('actorUri', null, ['class' => 'input form-control', 'placeholder' => ' Actor name..']) !!}
                .col-md-12
                    {!! Form::Label('musicalArtistName','Musical artist name') !!}
                    .form-group
                        {!! Form::text('musicalArtistUri', null, ['class' => 'input form-control', 'placeholder' => ' Musical artist name..']) !!}
                .col-md-12
                    {!! Form::Label('originLanguage','Original Language') !!}
                    .form-group
                        {!! Form::text('originalLanguageUri', null, ['class' => 'input form-control', 'placeholder' => ' Original Language..']) !!}
                .col-md-12
                    {!! Form::Label('countryUri','Country') !!}
                    .form-group
                        {!! Form::text('countryUri', null, ['class' => 'input form-control', 'placeholder' => ' Country..']) !!}
                .col-md-12
                    {!! Form::Label('movieGenre','Movie genre') !!}
                    .form-group
                        {!! Form::text('movieGenreUri', null, ['class' => 'input form-control', 'placeholder' => ' Movie genre..']) !!}
                .col-md-12.text-right
                    {!! Form::submit('Search',  ['class' => 'btn']) !!}
                {!! Form::close() !!}