.panel.panel-default
    .panel-heading
        h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#searchPerson") Search Persons
    .panel-collapse.collapse#searchPerson
        .panel-body
            {!! Form::open(array('url' => 'person', 'class' => 'search-form', 'role' => 'form')) !!}
            .row
                .col-md-12
                    {!! Form::Label('Name','Name') !!}
                .col-md-12
                    .form-group
                        {!! Form::text('personName', null, ['class' => 'input  form-control', 'placeholder' => 'name..']) !!}
                .col-md-12
                    {!! Form::Label('birthplace','Birthplace') !!}
                .col-md-12
                    .form-group
                        {!! Form::text('personBirthPlace', null, ['class' => 'input  form-control', 'placeholder' => 'date..']) !!}
                .col-md-12
                    {!! Form::Label('nationality','Nationality') !!}
                .col-md-12
                    .form-group
                        {!! Form::text('personCountry', null, ['class' => 'input  form-control', 'placeholder' => 'country..']) !!}
                .col-md-12
                    {!! Form::Label('ranking_id','Ranking:') !!}
                .col-md-12    
                    .form-group
                        {!! Form::select('ranking_id', array('','2'=>'1','3'=>'2','4'=>'3','5'=>'4','6'=>'5'),'5', ['class' => 'form-control']) !!}
                .col-md-12.text-right
                    {!! Form::submit('Search',  ['class' => 'btn']) !!}
            {!! Form::close() !!}