.panel.panel-default
    .panel-heading
        h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#searchPerson") Search People
    .panel-collapse.collapse#searchPerson
        .panel-body
            {!! Form::open(array('url' => 'person', 'id' => 'personSearchForm', 'class' => 'search-form', 'role' => 'form')) !!}
            .row
                .col-md-12
                    {!! Form::Label('Name','Name') !!}
                .col-md-12
                    .form-group
                        {!! Form::text('personName', null, ['class' => 'input  form-control', 'placeholder' => 'name..']) !!}
                .col-md-12
                    {!! Form::Label('profession','Profession') !!}
                .col-md-12
                    .form-group
                        {!! Form::text('personProfession', null, ['class' => 'input  form-control', 'placeholder' => 'profession..']) !!}
                .col-md-12
                    {!! Form::Label('nationality','Nationality') !!}
                .col-md-12
                    .form-group
                        {!! Form::text('personCountry', null, ['class' => 'input  form-control', 'placeholder' => 'country..']) !!}
                .col-md-12.text-right
                    {!! Form::submit('Search',  ['class' => 'btn']) !!}
            {!! Form::close() !!}