.panel.panel-default
    .panel-heading
        h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#searchPlace") Search Places
    .panel-collapse.collapse#searchPlace
        .panel-body#placePanel 
            a.initializeForm#placeInitialize(href="javascript:void(0)") Initialize form
            .initializeWrapper.hidden
                img.loader(src="images/loading.gif",alt="loading..")
            {!! Form::open(array('url' => 'place', 'id'=>'placeSearchForm', 'class' => 'search-form hidden', 'role' => 'form')) !!}
            .row
                .col-md-12
                    {!! Form::Label('placeName','Name') !!}
                    .form-group
                        {!! Form::text('name', null, ['class' => 'input form-control', 'placeholder' => ' name..']) !!}
                .col-md-12 
                    {!! Form::Label('placeType','Type') !!}
                    .form-group 
                        {!! Form::text('placeTypeUri', null, ['class' => 'input form-control', 'placeholder' => 'type..']) !!}
                .col-md-12
                    {!! Form::Label('country','Country') !!}
                    .form-group
                        {!! Form::text('countryUri', null, ['class' => 'input form-control', 'placeholder' => 'country..']) !!}
                .col-md-12.text-right
                    {!! Form::submit('Search',  ['class' => 'btn']) !!}
            {!! Form::close() !!}