.panel.panel-default
    .panel-heading
        h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#searchPlace") Search Places
    .panel-collapse.collapse#searchPlace
        .panel-body
            {!! Form::open(array('url' => 'place', 'class' => 'search-form', 'role' => 'form')) !!}
            .row
                    .col-md-12
                        {!! Form::Label('placeName','Place name') !!}
                        .form-group
                        {!! Form::text('name', null, ['class' => 'input form-control', 'placeholder' => ' Place name..']) !!}
                    
                    .col-md-12 
                        {!! Form::Label('placeType','Place Type') !!}
                        .form-group 
                        {!! Form::text('placeTypeUri', null, ['class' => 'input form-control', 'placeholder' => ' Place type..']) !!}
                    
                    .col-md-12
                        {!! Form::Label('country','Country') !!}
                        .form-group
                        {!! Form::text('countryUri', null, ['class' => 'input form-control', 'placeholder' => ' Country..']) !!}
                     
                     .col-md-12
                    {!! Form::Label('ranking_id','Ranking:') !!}
                .col-md-12    
                    .form-group
                        {!! Form::select('ranking_id', array('','2'=>'1','3'=>'2','4'=>'3','5'=>'4','6'=>'5'),'5', ['class' => 'form-control']) !!}
                .col-md-12.text-right
                    {!! Form::submit('Search',  ['class' => 'btn']) !!}
            {!! Form::close() !!}