.col-md-2.col-sm-12.sidebar
    ul
        li
            span.glyphicon.glyphicon-flag
            a(href="{{url('home')}}") Recommendations
        li
            span.glyphicon.glyphicon-search
            a(href="{{url('search')}}") Search
        li
            span.glyphicon.glyphicon-list-alt
            a(href="javascript:void(0)") Search History
        li
            span.glyphicon.glyphicon-star
            a(href="javascript:void(0)") Favorites
        li
            span.glyphicon.glyphicon-file
            a(href="{{url('report')}}") Report
        li
            <?php if(Auth::user()->getGraphPath() !==null) {?>
            <a target="_blank" href="<?php echo Auth::user()->getGraphPath() ?>"><span class="glyphicon glyphicon-unchecked"></span>Graph</a> 
            <?php } ?>
        