footer.container-fluid.footer-side
    .row
        .col-md-12
            p Web Application Development Project
            a(href="http://profs.info.uaic.ro/~busaco/teach/courses/wade/") Course Page
{!! HTML::script('js/bootstrap.min.js')  !!}