.app-report
    .row
        .col-md-12
            h1 SOR Technical Report
            a(href="{{url('report')}}") 
                span.glyphicon.glyphicon-file
                | Switch to User Guide Report
            h2 Table of contents
            ul
                li
                    a(href="#chapter1") 1. Start to know SOR
                li
                    a(href="#chapter2") 2. Objectives and constraints
                li 
                    a(href="#chapter3") 3. Application architecture and main modules
                li
                    a(href="#chapter4") 4. Register
                li
                    a(href="#chapter5") 5. Sign in
                li
                    a(href="#chapter6") 6. Homepage and Profile
                li
                    a(href="#chapter7") 7. Resources
                li
                    a(href="#chapter8") 8. Social network: Google+
                li
                    a(href="#chapter9") 9. FOAF Graph
                ul
                    li
                        a(href="#chapter9p1") 9.1 Creation of FOAF graph
                    li
                        a(href="#chapter9p2") 9.2 Storage of FOAF graph
                    li
                        a(href="#chapter9p3") 9.3 Usage of FOAF graph
                li
                    a(href="#chapter10") 10. API specifications
               
                li
                    a(href="#chapter11") 11. Results
               
                li
                    a(href="#chapter12") 12. Technical description of SOR
                li
                    a(href="#chapter13") 13. App limitations
                li
                    a(href="#chapter14") 14. Used resources (frameworks, scription languages)
                li
                    a(href="#chapter15") 15. Conclusion
                li
                    a(href="#chapter16") 16. Bibliography
                 
            h2#chapter1 1. Start to know SOR.
            p Social recommender is an application that is able to recommend certain places/books/films/educational institutes of interest according to a given FOAF graph build with information from a social network (for now Google+, but later on it has the possibility to be extended with more information from other social networks such as LinkedIn, Twitter etc.) and external resources. The information from the social networks will help provide more particular results based on what the user account contains.
            h2#chapter2 2. Objectives and constraints.
            p Create an application that recommends (automatically or on request) to the user certain places/books/films/educational institutes of interesting according to social networks (Google+).
            p Application constraints: 
            ul
                li The application should be a responsive application
                li Service oriented application
                li Restful API
                li An application built on the existing social and semantic Web technologies
                li The code-source and specific content must be available under the terms of the open source licenses( Git hub)
            h2#chapter3 3. Application architecture and main modules
            p
                img(src="images/arch_module.png" alt="sor")
            h2#chapter4 4. Register
            p First step to create an user account is to register. The registration requires filling in a form with personal information about the client such as email and password.
            p Note: The email and password are unique for every user.
            h2#chapter5 5. Sign in
            p Using the information from the registration step, like email and a password, the user can sign into a defined account directly to homepage.  
             
            h2#chapter6 6. Homepage and Profile
            p Homepage is the staring page of the application and may contain results of searches for places, books, films, educational institutes. On the right of the screen, a list of forms is available. There, the user can fill in all necessary information to perform a search. Results will be displayed in the center of the screen and are based on a social network (Google) and external resources. 
            p Profile is related to the user information.  A form is available in profile page that allows the user to change profile user settings.
            
            h2#chapter7 7. Resources
            p Resources are used to get accurate recommendations for the user. We use multiple open data sources in RDF format and their corresponding ontologies.
            p Here are some examples of resources that could be used for this application:
             li 
                    a(href="http://wiki.dbpedia.org/") Dbpedia 
                    | is a crowd-sourced community effort to extract structured information from Wikipedia and make this information available on the Web. 
                li 
                    a(href="http://www.geonames.org/") Geonames.org 
                    | is a the geographical database covers all countries and contains over eight million place names that are available for download free of charge.
                li 
                    a(href="http://schema.org/") Schema.org 
                    | is a collaborative, community activity with a mission to create, maintain, and promote schemas for structured data on the Internet, on web pages, in email messages, and beyond.
            
            h2#chapter8 8.  Social networks: Google+
            p The FOAF graph is constructed based on information from Google. The user must be connected to a Google account in order to create the graph and then be provided with the automatic or requested recommendations.
            h2#chapter9 9.  FOAF graph
            p FOAF graph (friend of a friend) is a RDF file that stores personal information taken from a social network (Google).
            p Personal information means information from Google profile, including user's friends, events educational institutes, domains of work and study, stores, electronics, clothes, books, films and so on.
            h3#chapter9p1 9.1 Creation of FOAF graph
            p A FOAF graph is created first when the client connects to a social network, in a RDF format (.xml). The client has the possibility to update the content of the graph every time he/she requests so with: Rebuild XML Graph. The graph contains: people associated with the user account, schools, events, books, other people and organizations (authors and publishers of books, event organizers etc.).
            p Example of FOAF graph content: 
            p 
                img(src="images/foaf.png" alt="sor")
            h3#chapter9p2 9.2 Storage of FOAF graph
            p FOAF graph will be loaded on the server side (on the cloud application platform Heroku) every time it is created/updated. There will be an RDF graph or more for each user that has an account for this application.
            h3#chapter9p3 9.3 Usage of FOAF graph
            p  The graph is used for:
            ul 
                li 	Automatically  generated recommendations displayed on homepage
                li 	User request generated recommendations (semantic searches).

            
            h2#chapter10 10. API specifications
            p  API specifications of the application are structured in three main modules:
            ul 
                li 
                    span.strong Automatically generated recommendations
                    br
                    | Based on user’s FOAF graph, the app will first extract similarities – most common occurrences of things (places, educational institutions), most popular events. It will also take into account user’s geographical location and current town/country as listed on Google. Considering this data, it will search for similar educational institutes, books, films. A detailed description taken into account for each type of recommendation is provided in technical description section. Finally, the user will see query results filtered by type on his home page, or he can request the list by calling the following endpoints: 
                    code /recommendations/ [TYPE_OF_ITEM]
                    | , where TYPE_OF_ITEM is one of: books, films, edu. Forms for the 3 classes are available on the right side of the Homepage, in case the user want to get recommendations by custom criteria, not necessarily related to his graph content. 

                li 
                    span.strong Graph content
                    br
                    | The user can see the content of his generated FOAF graph and download it as an RDF/XML file from the endpoint /graph. 
                    code /graph
                    |.  

                li 
                    span.strong Search modules
                    br
                    |The user will be able to look for stuff by defining his own criteria in fourth different forms for each type of resource (books, films, places, educational institutions). Some examples – the client wants to get all books of Agatha Christie with at least 300 pages; the client wants to get all universities with over 5000 students from United Kingdom.
                    br
                    | All search features will be available by querying the following endpoint: 
                    code /search/[TYPE_OF_ITEM]
                    | , with TYPE_OF_ITEM one of: one of: films, books, places, edu.
         
            h2#chapter11 11. Results
            p Results are displayed in Homepage, containing the name of the results and other information, according to the type of result. The number of returned results ranges between 5 to 100.
            h2#chapter12 12. Technical description of SOR 
            p Our application is developed using Laravel 5.1 framework, Grunt, Bootstrap and Jade technologies. For social network connection, we used the Google php api client. All SPARQL queries are ran with EasyRdf library. We included Geocoder library (a(href="https://github.com/geocoder-php/Geocoder") https://github.com/geocoder-php/Geocoder) for place name to coordinate conversion and a JsonLD implementation ( a(href="https://github.com/lanthaler/JsonLD") https://github.com/lanthaler/JsonLD) for query results serialization.
            p The application uses Google+ connection, also taking data from Google Books and requiring data from Google Maps and Google Coordinates for geolocation. Google+ does not currently offer support for knowledge graphs, but we built a linked data graph using non-semantic data from user’s profile. Every person in user’s circles is mapped as a foaf:knows property of the graph owner and as a resource of type foaf:Person.
            
            p 
            span.strong People Data
            p For every person in the graph, including the owner, we mapped the following properties (from their corresponding ontologies):
            ul
                   li  foaf:name
                   li  foaf:givenname
                   li  foaf:family_name
                   li  foaf:depiction(profile picture)
                   li  foaf:homepage (link to Google+ profile)
                   li  foaf:page (one or more pages on other social sites)
                   li  dbp:website(one or more websites)
                   li  foaf:gender
                   li  dbo:occupation
                   li  dbo:school
                   li  foaf:based_near with code geo:lat and geo:long attributes
                   li  dbo:country
                   li  sch:description “about me” section
           p Data sources: 
           ul
                li
                    a(href="https://plus.google.com/") https://plus.google.com/
                li
                    a(href="https://books.google.com/") https://books.google.com/
                li
                    a(href="https://www.google.com/calendar/") https://www.google.com/calendar/
                li
                    a("https://dbpedia.org/") http://dbpedia.org/
                li
                    a(href="https://schema.org/") http://schema.org/
                li
                    a(href="http://www.w3.org/2003/01/geo/wgs84_pos/") http://www.w3.org/2003/01/geo/wgs84_pos/
            p For every person who provides a location in his/her profile, we use Geocoder to convert the textual information into semantic data. All people are identified by their own Google+ ids.
            p 
                span.strong Book Data
            p Next, a list of books will be retrieved from user’s Google Books account. For books we can only basic descriptive data (like name, author name, publisher, number of pages, rating details, genre, ISBN (with both 10 and 13 digits) and a Google Books id. Publishers and authors are mapped as organizations and people, respectively, with generated ids in the same RDF graph.



             p We are not provided any URIs/links, so our semantic searches based on this data can fail.
             p Example:  The 5th book of J. K. Rowling’s Harry Potter series has its name stated as:
             p Harry Potter And The Order Of The Phoenix Book.
             p 
                    
           p In this case, queries that search a partial name matching will either fail or be timed out. A solution is to search by a combination of features – name, author, genre, publisher – using partial matching and the SPARQL’s optional/union clauses. Our solution does not fail in this cases, but goes on with the rest of recommendations.
           
           
           
            p span.strong Event data
            p Events from Google+ profile along with other events are retrieved from Google Calendars. We picked only those calendars whose owner is the user himself, to exclude generic events like Christmas, New Year, legal holidays.
            p We get the same basic data – title, description, date, website link and location (if specified), and also a Google+ id.
            
            
            
            p span.strong Recommendations
            
            p Once the graph is created, automatic recommendations can be generated. We implemented three types of recommendations:
            
            ul 
                li for books
                li for films 
                li for educational institutions, such as schools, colleges, libraries.
           p 
                span.strong Book Recommendations
           p The app randomly retrieves a list of at most 5 books from the graph. Next, it attempts to match them to the corresponding entities from DBpedia, as described above. For each entity, a list of at most 10 books is retrieved. The books must have either the same author, publisher or literary genre. The diversity of recommendations is assured when the user has lots of books in his Google library, because they start from randomly chosen books. Partial results will be send in case the query fails for a book or is timed out (see example above). 
           p Some data is optional (such as the publisher name). $mb variable defines a book in the retrieved list.
           p 
                img(src="images/book_reco.png" alt="sor")
           p     
                img(src="images/book_reco1.png" alt="sor")
            p span.strong Film Recommendations
            
            p Because Google+ does not provide any information about user’s favorite movies (everything is a “page”), we thought that it would be interesting to give movie recommendations starting from favorite books. The process is quite similar: 5 books randomly picked from graph. They are mapped to entities and an URI is returned.
            p Below is the query for book data mapping to the book object. We use a combination of features, not only the name. $mb defines a book in the retrieved list and $au is the book’s author name.
            p     
                img(src="images/film_reco.png" alt="sor")
            p Next, we query DBpedia for objects of type dbo:Film which match at least one of the following criteria:
                ul
                    li  it is disambiguated by the same resource as the book:
            p 
                 img(src="images/dbo1.png" alt="sor")
             
                ul 
                    li  it is based on the book
            p 
                img(src="images/dbo2.png" alt="sor")
            p Full query:
            p 
                img(src="images/full_query.png" alt="sor")
            
            p Now we get a list of movies inspired by the books we read, if any. The next step is to search even more films the user might like. Given the list, we look for movies that have either the same director, same genre or one mutual actor:
            p 
                img(src="images/code_1.png" alt="sor")
            
            
            p span.strong Educational institutions recommendations
            p For this part we use all educational institutes in the graph, either from user or user friends. The app queries DBPedia for educational institutions who match at least one of the following criteria:
            ul
                li are from the same country
                li have similar educational system
                li are part of the same subject group
            p as one of the five initially randomly picked educational institutions from the graph.
            p First, we need to map data from Google to objects. Below is the query.
            p 
                 img(src="images/edu_reco1.png" alt="sor")
            p Next we search educational institutions by the above mentioned criteria.
            p 
                img(src="images/edu_reco2.png" alt="sor")
            p For the last criterion, here’s a practical example, according to DBPedia:
                ul
                    li dbr:Alexandru_Ioan_Cuza_University dct:subject dbc:Universities_in_Iaşi
                    li dbr:Apollonia_University dct:subject dbc:Universities_in_Iaşi
            p In this case, Apollonia University is a possible recommendation for Alexandru Ioan Cuza University.
            span.strong Searches
            p We implemented searches for 4 types of objects:
            
                ul
                    
                    li  Places (gardens, historical monuments etc)
                    li  Educational Institutions
                    li  Books
                    li  Films
                   
           p This module can be used without social profile connection. All searches are strictly semantic, wich means that for almost every criteria we use URIs. A list of resources is initially retrieved using ajax requests. Every form has specific criteria for each type of entity. The criteria are generally URI’s, strings for names, numeric values (for number of pages, number of students etc.) .
                
            p Example – gardens of United States. We both map the type of place – garden – and the country – United States – to the corresponding resources. The user selects a name, but searches by an URI.
            p 
                img(src="images/gardens_united_states.png" alt="sor")
            
            h2#chapter13 13. App limitations
            p Some types of automatic recommendations may not return relevant results for very particular cases, such as:
            ul
                li all/most of book names are spelled incorrectly
                li there is no book that has a screening in user’s graph (for film recommendations)
                li book data is missing from Google+
                li no educational institution in the graph
                li the user has no friends
                li the user has no books added to his Google books library
                li the graph is too large (usually for over 200 friends/likes). Some improvements are to be provided on graph storage, such as a triple-store database instead of current one, which is a relational MySQL database.
                li the server may go down when many user are logged in simultaneously – a solution would be a better host, with more RAM
            
            h2#chapter14 14. Resources (tools, frameworks, scripting languages) used for on creation of SOR
            ul
                li  Laravel framework – PHP web application framework that follows model-view –controller application pattern.
                li PHP (Hypertext preprocessor) – a server scripting language 
                li HTML (Hypertext markup language) - is a language set for markup tags.
                li CSS (Cascade Style Sheets) – styling added to HTML elements
                
                li Jade – is a language for writing HTML
                
                li Grunt – tool that runs jade files and creates HTML files. 
                
                li Ajax (Asynchronous JavaScript and XML)- helps create asynchronous web application( the content is changed dynamically, without the need to change the entire page).
                li JsonLD implementation – helps JSON to interrogate data at web-scale (LD- linked data)
                li  Bootstrap – a front end framework used in creating HTML and CSS.
                li  Sparql- is used as a systematic query language for RDF file.
                li  Heroku cloud application platform “based on managed container system”.
           h2#chapter15 15. Conclusion
           p Social Recommender is a web application that user social networks (Google) and other external resources to recommend the user certain educational institutions, places, books and films.
            
            h2#chapter16 16. Bibliography
            
            p SOR:
                a(href="http://socialrecommender.herokuapp.com/") http://socialrecommender.herokuapp.com/
            p DBpedia: 
                a(href="http://wiki.dbpedia.org/ http://wiki.dbpedia.org/") http://wiki.dbpedia.org/ http://wiki.dbpedia.org/    
            p FOAF: 
                a(href="http://www.foaf-project.org/") http://www.foaf-project.org/
            p RAML: 
                a(href="http://raml.org/") http://raml.org/
            
            p  Security schemas: 
                a(href="https://api.yaas.io/patterns/v1/security-schema-basic.yaml") https://api.yaas.io/patterns/v1/security-schema-basic.yaml
            p Schema.org: 
                a(href="https://schema.org/") https://schema.org/
            p Wikipedia: 
                a(href="https://wikipedia.com/") https://wikipedia.com/
            p Blog:  
                a(href="https://socialrecommender.wordpress.com/about/") https://socialrecommender.wordpress.com/about/
            p Web project page:
            a(href="http://profs.info.uaic.ro/~busaco/teach/courses/wade/web-projects.html") http://profs.info.uaic.ro/~busaco/teach/courses/wade/web-projects.html 
            
            
            
            
     
 