doctype html

html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title SoR
        {!! HTML::style('css/bootstrap.min.css') !!}
        {!! HTML::style('css/stylesheet.css') !!}
        {!! HTML::style('https://fonts.googleapis.com/css?family=Raleway:400,300,500,700') !!}
        {!! HTML::style('https://fonts.googleapis.com/css?family=Roboto') !!}  
        {!! HTML::script("https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js") !!}
    body
        .container-fluid.top-side
            .row
                .col-md-8
                    h1.logo
                        a(href="index.html")
                            img(src="images/logo.png" alt="sor")
                        span Social Recommender
                .col-md-4
                    .user-box
                        img(src="images/avatar.jpg" alt="avatar")
                        p.name Fermuș V. Vasile-Octavian
                        ul.usermenu
                            li
                                a(href="{{url('profile')}}") 
                                    span.glyphicon.glyphicon-user 
                                    | Profile
                            li
                                a(href="{{url('auth/logout')}}") 
                                    span.glyphicon.glyphicon-log-out 
                                    | Logout