include snippets/user-header.jade

.container-fluid.main
    .row.row-eq-height
        include snippets/app-sidebar.jade
        .col-md-10.col-sm-12.application
            .results
                p.resultHeader Recommandations
                .row
                    .col-md-12
                        .btn-group(style="z-index: 1; margin-bottom: 10px" role="group",aria-label="...")
                            a.btn.btn-default#film(href="javascript:void(0)") Recommend Films
                            a.btn.btn-default#book(href="javascript:void(0)") Recommend Books
                            a.btn.btn-default#edu(href="javascript:void(0)") Recommend Educational Institutes
                            a.btn.btn-default#event(href="javascript:void(0)") Recommend Events
                        img.recomloading.hidden(src="images/loading.gif" alt="loading..")
                .row.allResults
{!! HTML::script('js/recommandations.js') !!}
include snippets/footer.jade
