include snippets/user-header.jade

.container-fluid.main
    .row.row-eq-height
        include snippets/app-sidebar.jade
        .col-md-10.col-sm-12.application
            h2 Profile Settings
            .row
                .col-md-7
                    .row
                        {!! Form::open(array('url' => 'update', 'class' => 'profile-form', 'role' => 'form', 'method'=>'put')) !!}
                        .col-md-12
                            label Change username
                        .col-md-12
                            .form-group
                                {!! Form::text('name', Auth::user()->name, ['class' => 'form-control', 'placeholder' => 'username..']) !!}
                        .col-md-12
                            label Change email
                        .col-md-12
                            .form-group
                                {!! Form::email('email', Auth::user()->email, ['class' => 'form-control', 'placeholder' => 'email..']) !!}
                        .col-md-12
                            label Change Password
                        .col-md-12
                            .form-group
                                {!! Form::password('old_password', ['class' => 'form-control', 'placeholder' => 'old password..']) !!}
                        .col-md-6
                            .form-group
                                {!! Form::password('new_password', ['class' => 'form-control', 'placeholder' => 'new password..']) !!}
                        .col-md-6
                            .form-group
                                {!! Form::password('password_confirmation', ['class' => 'signin_input_password form-control', 'placeholder' => 'repeat password..']) !!}
                        .col-md-12.text-right
                                .form-group
                                    {!! Form::submit('Submit Changes',  ['class' => 'btn']) !!}
                        {!! Form::close() !!}
                .col-md-5
                    a(href="{{url('/createAuthUrl')}}") Authenticate
                    
{!! HTML::script('js/profileFormCheck.js') !!}