include snippets/user-header.jade

.container-fluid.main
    .row.row-eq-height
        include snippets/app-sidebar.jade
        .col-md-7.col-sm-6.application
            .results
                p.resultHeader Welcome to SoR
                .row.allResults
        include snippets/search-bar.jade
{!! HTML::script('js/searches.js') !!}
include snippets/footer.jade
